* {
    margin: 0;
    padding: 0;
}

@font-face { font-family: graffiti; src:url(font/Graffiti\ City.otf) }



img{
    width: 400px;
    float: left;   
}

p{
    line-height: 2.0em;
}

.site{
    display: grid;
    grid-template-columns: repeat(3, 25%); 
    font-family: Arial;
    background: url(img/background--red.png) no-repeat center, linear-gradient(to right, #fff, #000 70%);
}

.header{
    font-family: graffiti;
    grid-column-start: 1;
    grid-column-end: 5; 
    display: grid;
    grid-template-columns: 150px auto 300px;
    grid-auto-rows: minmax(200px, auto);
    align-items: center;
    justify-content: space-around;
    background: url(img/bkgd-logo.png) no-repeat, linear-gradient(to right, #fff, #e41b40,  #c00000 70%);
}
.box {
    background: #efefef;
}

.logo{
    color: #fff;
    font-size: 50px;  
}

.menu {
    display: flex;       
}

.menu li {
    list-style: none;    
}

.menu li a {
    display: block;
    padding: 20px;
    font-weight: 800;
    color: #000;
    font-size: 30px;
    text-decoration: none;
    cursor: grab;
}

.menu li a:hover {   
    color:#fff;
    text-shadow:0px 0px 5px #fff;
}

#search {
    color: oldlace;
    border: 1px solid #000;
    height: 25px;
    width: 200px;
    background: #000;
    padding: 2px 10px;
}

#button-header{
    color: #fff;
    border: 1px solid #000;
    height: 25px;
    width: 50px;
    background: #000;
    padding: 2px 10px;
}

.main {
    grid-column-start: 1;
    grid-column-end: 4; 
    display: grid;
    grid-template-columns: repeat(3, auto);
    padding: 10px;
    margin: 10px;
}

.produtos{
    grid-column-start: 1;
    grid-column-end: 4; 
    display: grid;
    gap: 15px;
    padding: 20px;
    grid-template-columns: 50% 50%;
}

.drink{
    border: 1px solid #000;
    box-shadow: 10px 10px 10px #000;
}

.energy {
    grid-column-start: 1;    
}

.destaques{
    display: grid;
    grid-column-start: 1;  
    gap: 15px;
    margin-left: 15px;
    padding: 20px;
    grid-template-columns: 400px 400px 400px;
}

.news{
    border: 1px solid #000;
    box-shadow: 10px 10px 10px #000;
    padding: 20px;
}

.n1 {
    grid-column-start: 1;
}

.faca-parte {
    grid-column-start: 1;
    grid-column-end: 4; 
    border: 1px solid #000;
    box-shadow: 10px 10px 10px #000;
    text-align: center;
}
.faca-parte {
   padding: 100px ;
}

.img-faca-parte {
    position: sticky;
}

.inputnews {
    width: 470px;
    padding: 10px;
}

.enviarNews {
    background-color: #000;
    color:white;
    height: 40px;
    width: 150px;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid;
    cursor: pointer;

}

.footer {
    grid-column-start: 1;
    font-family: Arial, Helvetica, sans-serif;
    grid-column-end: 5; 
    grid-auto-rows: 100px ;
    display: grid;
    grid-template-columns: 150px auto 300px;
    align-items: center;
    justify-content: space-around;
    background:  linear-gradient(to right, #fff, #e41b40,  #c00000 70% );
}

.menu-footer {
    display: flex;
}

.menu-footer li {
    list-style: none;    
}

.menu-footer li a {
    display: block;
    padding: 20px;
    font-weight: 800;
    color: #000;
    font-size: 15px;
    text-decoration: none;
}


.social{
    display: flex;
}

.ico{
    width: 30px;
    margin: 10px;
}

/* Estilo Página CONTATO */

fieldset {
    border: 0;
}

input, select, textarea, button {
    border-radius: 1px;
}

.main-contato {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-family: sans-serif;
}

.form {
    grid-column-start: 1;
    grid-column-end: 2;
    background: #efefef;  
    padding: 10px;
    margin-left: 10%;
    margin-top: 5%;
}

#titulo {
    margin-left: 7%;
    font-size: 3.5em;
}

.subtitulo{
    margin-bottom: 3%;
    margin-left: 7%;
    font-size: 2em;
}

.campo {
    margin-bottom: 1em;
}

.campo label {
    margin-bottom: 0.2em;
    display: block;
}

fieldset.grupo.campo{
    float: left;
    margin-right: 1em ;
} 

.campo select option {
    padding-right: 1em;
}

.botao {
    font-size: 1.2em;
    background: #000;
    border: 0;
    margin-bottom: 1em;
    margin-top: 1em;
    padding: 0.2em 0.6em;
    color: #fff;  
}

.botao:hover{
    background: #efefef;
    color: #000;
    text-shadow: 2px 2px 2px #ccc;
    border: 1px solid #000;
}

.grupo {
    margin-bottom: 1em;
}

.linha {
    display: inline;
}

input, option {
    border: 1px solid #000;
    height: 1.2em;
    padding: 0.2em;
}

textarea {
    border: 1px solid #000;
    height: 7em;
    padding: 0.2em;
}

#nome, #email, #end, #mensagem{
    width: 450px;
}


label{
    font-size: 1.2em ;
}

.col2 {
    padding: 50px;
    margin-top: 200px;
    text-align: justify;
    font-size: 1.3em;
}

/* Estilo página QUEM SOMOS*/

.main-quemsomos {
    grid-column-start: 1;
    grid-column-end: 5; 
    margin: 3%  ;  
}

.quemsomos {
    margin: 3% 15%;
    font-size: 1.3em;
   font-weight: 700;
    text-align: center;
    color: #fff; 
    font-variant: small-caps ;
    text-shadow: 2px 2px #000;
   
}

/* Estilo página PRODUTOS*/

.main-produtos {
    grid-column-start: 1;
    grid-column-end: 5; 
    margin: 3%  ;  
}
.produtos {
    display: grid;
    gap: 20px;
}

.img-produto{
    float: inline-start;
    margin-top: 50px;
    width: 300px;
    border-radius: 150px;
}


.produto{
    border: 2px solid #000;
    background: #efefef;  
    text-align: center;
    padding: 10px 20px;
    background: url(img/background--red.png), #fff;
    background-position: center;
    background-size: cover;
    font-size: 1.2em;
    color: #fff;
    font-weight: 600;
    font-variant: small-caps;
}

.produto h3{
    margin-top: 2em;
    margin-bottom: 0.5em;
}


#acai{
    background-color: #72015d;
}

#citrus{
    background-color: #8dbd29;   
}

#maca-verde{  
    background-color: #00c17b;  
}

#original{ 
    background-color: #dd0d31;   
}

#original-latao{
    background-color: #dd0d31;    
}

#pessego{
    background-color:  #ff7960;    
}

#tangerina{
    background-color: #ff7826;
}

#zero-acucar{
    background-color: #262626;
}

#sport-drink{
    background-color: #000;
    
}